.text-centre {
    text-align: center;
    color: #04AA6D;
  }
  
  .flex {
    display: flex;
  }
  
  .flex-col {
    flex-direction: column;
  }
  
  .items-centre {
    align-items: center;
  }
  
  .mx-auto {
    margin: auto;
  }